{% extends "base.html" %}
{% block content %}


<div class="signup-form text-center">
    <form method="POST" action="{{ url_for('login')}}">
		<h2>Login</h2>
        <div class="form-group">
            <i class="fas fa-user"></i>
            <input type="text" class="form-control mt-3" name="username" id="username" placeholder="Username" pattern="^[a-zA-Z0-9]{5,15}$" minlength="5" maxlength="15" required>		  	
        </div>
		<div class="form-group">
            <i class="fas fa-lock"></i>
            <input type="password" class="form-control mt-3" name="password" id="password" placeholder="Password" pattern="^[a-zA-Z0-9]{7,15}$" minlength="7" maxlength="15" required>
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
        </div>
    </form>
	<div>Don't have an account? <a href="{{ url_for('register')}}">Register here!</a></div>
</div>


{% endblock %}