{% extends "base.html" %}
{% block content %}

<h2 class="text-center mt-5 mb-5">Manage Recipes</h2>

<div class="container">
    <div class="row">
        <div class="col-12">
        <a class="btn btn-primary mb-4 d-flex justify-content-center add-button" href="{{ url_for ('add_recipe') }}">Add Recipe</a>
        </div>
    </div>
    <div class="row">
        {% for recipe in recipes %}
            <div class="card col-3 text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ url_for ('get_single_recipe', recipe_id=recipe._id) }}" class="btn btn-info m-1">{{ recipe.food_name.capitalize() }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Added by {{ recipe.created_by }}</h6>
                    <a href="{{ url_for ('admin_edit_recipe', recipe_id=recipe._id) }}" class="btn btn-warning m-1">Edit</a>
                    <a href="{{ url_for ('admin_delete_recipe', recipe_id=recipe._id) }}" class="btn btn-danger m-1">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}