{% extends "base.html" %}
{% block content %}

<!--page to show single recipe when clicked on from manage.html or profile.html -->
<div class="container text-background">
    <h2 class="titles text-center mt-5 py-5">Recipe</h2>
        {% for recipe in recipes %}
        <div class="mb-5 border border-dark rounded">
            <div class="row mb-5">   
                <div class="col-6">
<!--image of food -->
                    <img class="food-image" src="{{ recipe.food_img }}" alt="{{ recipe.food_name }} image uploaded by {{ recipe.created_by }}">
                </div>
                <div class="col-6 other-text">
<!--details of recipe -->
                    <h3>Food Name : {{ recipe.food_name.capitalize() }}</h3>
                    <h4>Course : {{ recipe.category_name }}</h4>
                    <h4>Difficulty level : {{ recipe.difficulty }} out of 5</h4>
                    <h4>Time : {{ recipe.time }} minutes</h4>
                </div>
            </div>
            <div class="row">
                <div class="col other-text text-left">
                    <h4>Ingredients needed : {{ recipe.ingredients1 }}</h4>
                    <h4>Method : {{ recipe.method1 }}</h4>
                </div>
            </div>
     
            <h4 class="mt-3 text-center other-text">This recipe was added by {{ recipe.created_by }}</h4>
<!--buttons to edit and delete which only show if user is admin or the user who created the recipe -->   
            {% if session.user|lower == "admin"|lower or session.user|lower == recipe.created_by|lower %}
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <a href="{{ url_for ('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-warning m-3">Edit Recipe</a>
                    <a href="{{ url_for ('delete_recipe', recipe_id=recipe._id) }}" class="delete-confirm btn btn-danger m-3">Delete Recipe</a>
                </div>
            </div>
        </div>
            {% endif %}
        {% endfor %}

</div>
{% endblock %}