{% extends "base.html" %}
{% block content %}

<!--page to show all recipes whether a user is logged in or not-->   

<!--search box with option to filter and reset -->
<div class="container d-flex justify-content-center text-background mt-5 py-2">
    <form action="{{ url_for ('search') }}" method="POST" class="recipe-search">
        <input class="form-control mr-sm-2 mb-3" type="text" name="query" id="query" minlength="3" placeholder="Search for a recipe by name or description..." aria-label="Search">
        <div class="d-flex justify-content-center">
        <button class="other-text btn btn-warning my-sm-0" type="submit">Search</button>
                <a class="other-text btn btn-warning ml-sm-2 my-sm-0" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Filter
                </a>
                <a href="{{ url_for('get_recipes') }}" class="other-text ml-sm-2 btn btn-warning my-sm-0" type="submit">Reset</a>
        </div>
    </form> 
</div>
<!--collapsible div shown when user clicks filter -->
<div class="collapse container text-background py-3" id="collapseExample">
        <div class="card card-body">
<!--to filter by course -->  
            <h4 class="other-text black-text"> <i class="fas fa-utensils"></i> Filter By Course</h3>
                <ul class="list-inline">
                        
                        <li class="list-inline-item"><a class="btn btn-secondary" href="{{url_for('get_recipes_by_category',category_name='Starter')}}">Starters</a></li>
                        <li class="list-inline-item"><a class="btn btn-secondary"href="{{url_for('get_recipes_by_category',category_name='Sides')}}">Sides</a></li>
                        <li class="list-inline-item"><a class="btn btn-secondary"href="{{url_for('get_recipes_by_category',category_name='Mains')}}">Mains</a></li>
                        <li class="list-inline-item"><a class="btn btn-secondary"href="{{url_for('get_recipes_by_category',category_name='Dessert')}}">Desserts</a></li>
                </ul>
<!--to filter by difficulty level -->  
            <h4 class="other-text black-text"> <i class="fas fa-utensils"></i> Filter by Difficulty Rating</h3>
                <ul class="list-inline">
                        
                        <li class="list-inline-item"><a class="btn btn-secondary" href="{{url_for('get_recipes_by_difficulty',difficulty='1')}}">1</a></li>
                        <li class="list-inline-item"><a class="btn btn-secondary"href="{{url_for('get_recipes_by_difficulty',difficulty='2')}}">2</a></li>
                        <li class="list-inline-item"><a class="btn btn-secondary"href="{{url_for('get_recipes_by_difficulty',difficulty='3')}}">3</a></li>
                        <li class="list-inline-item"><a class="btn btn-secondary"href="{{url_for('get_recipes_by_difficulty',difficulty='4')}}">4</a></li>
                        <li class="list-inline-item"><a class="btn btn-secondary"href="{{url_for('get_recipes_by_difficulty',difficulty='5')}}">5</a></li>
                </ul>
        </div>
    </div>

{% if recipes|length > 0 %}
<div class="container text-background">
    <h2 class="titles text-center mt-5 py-5">Recipes</h2>
        {% for recipe in recipes %}
        <div class="mb-5 border border-dark rounded">
            <div class="row mb-5">   
                <div class="col-lg-6 col-sm-12">
<!--recipe image -->  
                    <img class="food-image" src="{{ recipe.food_img }}" alt="{{ recipe.food_name }} image uploaded by {{ recipe.created_by }}">
                </div>
                <div class="col-lg-6 col-sm-12 other-text">
<!--recipe details -->  
                    <h3><span class="font-weight-bold black-text">Food Name : </span><br> &nbsp; &nbsp; &nbsp;{{ recipe.food_name.capitalize() }}</h3>
                    <h4><span class="font-weight-bold black-text">Course : </span><br> &nbsp; &nbsp; &nbsp;{{ recipe.category_name }}</h4>
                    <h4><span class="font-weight-bold black-text">Description : </span><br> &nbsp; &nbsp; &nbsp;{{ recipe.description }}</h4>
                    <h4><span class="font-weight-bold black-text">Difficulty level : </span><br> &nbsp; &nbsp; &nbsp;{{ recipe.difficulty }} out of 5</h4>
                    <h4><span class="font-weight-bold black-text">Time : </span><br> &nbsp; &nbsp; &nbsp;{{ recipe.time }} minutes</h4>
                </div>
            </div>
            <div class="row">
                <div class="col other-text text-left">
<!--recipe ingredients and method -->  
                    <h4 class="font-weight-bold black-text">Ingredients needed : </h4>
                    <ol>
                        <li>{{ recipe.ingredients1 }}</li>        
                    </ol>
                    <h4 class="font-weight-bold black-text">Method :</h4>
                    <ol>
                        <li>{{ recipe.method1 }}</li>   
                    </ol> 
                </div>
            </div>
<!--recipe creator -->
            <h4 class="mt-3 text-center other-text">This recipe was added by {{ recipe.created_by }}</h4>
            {% if session.user|lower == recipe.created_by|lower or session.user|lower == "admin"|lower %}
            <div class="row">
                <div class="col d-flex justify-content-center">
<!--buttons to edit or delete. Only if user created recipe or user is admin -->   
                    <a href="{{ url_for ('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-warning m-3">Edit Recipe</a>
                    <a href="{{ url_for ('delete_recipe', recipe_id=recipe._id) }}" class="delete-confirm btn btn-danger m-3">Delete Recipe</a>
                </div>
            </div>
        </div>
            {% endif %}
        {% endfor %}
</div>
{% else %}
<!--div to show if recipe number = 0  -->   
    <div class="container text-background py-5 mt-5 no-recipe">
        <h2 class="text-center">No Recipes found!</h2>
        <div class="d-flex justify-content-center">
            <a href="{{ url_for ('get_recipes') }}" class="btn btn-success mt-5">See all recipes here!</a>
        </div>
{% endif %} 
   </div>
</div>
<!-- Pagination links generated -->
<div class="container d-flex justify-content-center">
    <div class="text-center text-background other-text">
        {{ pagination.links }}
    </div>
</div>


{% endblock %}