{% extends "base.html" %}
{% block content %}


<div class="signup-form text-center">
    <form method="POST" action="{{ url_for('register')}}" oninput='confirm.setCustomValidity(confirm.value != password.value ? "Passwords do not match." : "")'>
		<h2>Register</h2>
		<p class="hint-text">Create your account. It's free and only takes a minute.</p>
        <div class="form-group">
            <i class="fas fa-user"></i>
            <input type="text" class="form-control mt-3" name="username" id="username" placeholder="Username" pattern="^[a-zA-Z0-9]{5,15}$" minlength="5" maxlength="15" required>
            <small class="form-text text-muted">Must be between 5-15 characters. No special characters allowed eg. ! ?</small>	  	
        </div>
		<div class="form-group">
            <i class="fas fa-lock"></i>
            <input type="password" class="form-control mt-3" name="password" id="password" placeholder="Password" pattern="^[a-zA-Z0-9]{7,15}$" minlength="7" maxlength="15" required>
            <small class="form-text text-muted">Must be between 7-15 characters. No special characters allowed eg. ! ?</small>
        </div>
        <div class="form-group">
            <i class="fas fa-lock"></i>
            <input class="form-control mt-3" id="confirm" name="confirm" type="password" placeholder="Confirm Password" minlength="7" maxlength="15"
                pattern="^[a-zA-Z0-9]{7,15}$" required>
        </div>
        <div class="form-group">
            <i class="fas fa-utensils"></i>
                    <select class="form-control mt-3" id="chef-level" name="chef-level" required>
                        <option value="" disabled selected>Select your cooking level, be honest!</option>
                        <option value="beginner" id="beginner" >Beginner</option>
                        <option value="amateur" id="amateur">Amateur</option>
                        <option value="accomplished"id="accomplished">Accomplished</option>
                        <option value="advanced" id="advanced">Advanced</option>
                        <option value="master" id="master">Master</option>
                    </select>
        </div>
        <div class="form-group">
            <i class="fas fa-heart"></i>
            <input type="text" class="form-control mt-3" name="favourite" id="favourite" placeholder="Your favourite food" pattern="^[a-zA-Z0-9]{4,25}$" minlength="4" maxlength="25" required>
        </div>

		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
    </form>
	<div>Already have an account? <a href="{{ url_for('login')}}">Sign in</a></div>
</div>


{% endblock %}